<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dito sa Rizal</title>
    <!--bootstrap-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
  <!--navbar-->
  <nav>
    <div class="box1"></div>

    <div class="box2">
      <div class="logo">
        <div class="logo1">
          <img src="static/styles/images/logo.png">
        </div>
        <div class="txt"><h3>Dito sa Rizal</h3></div>
      </div>
      <div></div>
      <div class="nav-links">
        <ul>
          <a href="{{url_for('home')}}"><li>Home</li></a>
        <a href="{{url_for('activities')}}"><li>Activities</li></a>
        <a href="{{url_for('destinations')}}"><li>Destinations</li></a>
        <a href="{{url_for('tool')}}"><li class="activeTools">Tools</li></a>
        <a href="{{url_for('contact')}}"><li>Contact</li></a>
        </ul>
      </div>

    </div>
    <div class="box1"></div>
  </nav>
<!--content-->

  <main class="act">
    <div class="activities">
    <div class="box1"></div>
    <div class="box2">
      <div class="navigation">
        <ul>
          <a href="{{url_for('activities')}}"><li>Cycling</li></a>
          <a href="{{url_for('activity1')}}"><li class="activeHik">Hiking</li></a>
          <a href="{{url_for('activity2')}}"><li>Foodtrips</li></a>
          <a href="{{url_for('activity3')}}"><li>Scenic<br>Routes</li></a>
        </ul>
      </div>
      <div class="title1">
        <h1>Top 5 Hiking Spots in Rizal Province</h1>
        <p>In these difficult times for travel, Rizal Province is the finest retreat from Manila, especially if you enjoy nature and the outdoors. It's only 30 minutes from the metro, but the probinsya life, with its enormous and teeming natural treasures, is easily accessible. Do you have a strong desire for an outdoor experience or a physical exercise such as hiking? These our top 5 picks for you.</p>
      </div>
      <div class="num">
        <h3>1. Mt. Batolusong</h3>
        <p>With its undulating grasslands and magnificent scenery, this mountain is sometimes compared to the northern province. It's also very short, taking only 1.5 hours to get to the endpoint, Mapatag Plateau, via rice fields and woodlands with a sharp but swift rise. It's a big plateau, and it's windy. On a clear day, you might be able to see Mt. Banahaw, which is located on the southern end of Sierra Madre.</p>
        <!-- Carousell-->
        <div class="car1">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="static/styles/images/Tanay/Mt.Batolusong/1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/styles/images/Tanay/Mt.Batolusong/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/styles/images/Tanay/Mt.Batolusong/3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/styles/images/Tanay/Mt.Batolusong/4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/styles/images/Tanay/Mt.Batolusong/5.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/styles/images/Tanay/Mt.Batolusong/6.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/styles/images/Tanay/Mt.Batolusong/7.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>
        <!--end-->
      </div>
      <div class="num">
        <h3>2. Mt. Daraitan </h3>
        <p>Mt. Daraitan should be at the top of your list if you're looking for a thrill rather than merely relaxing. Even for beginners, it is the most popular walk in Rizal. It has one of, if not the greatest, views of nature, with the Sierra Madre and the Tinipak River winding through an otherwise lush terrain. The hike is made more enjoyable by the presence of limestone cliffs, natural springs, and caves along the way.</p>
        <!-- Carousell-->
        <div class="car1">
          <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/styles/images/daraitan1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/Daraitan2.jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/daraitan3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/daraitan4.jpg" class="d-block w-100" alt="...">
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>
          <!--end-->
        </div>
      <div class="num">
        <h3>3. Masungi Georeserve </h3>
        <p>Masungi Georeserve is usually mentioned when it comes to picturesque trekking and ecotourism. It's known for its "sapot," a spiderweb-like viewing platform that gives tourists a bird's-eye view of Rizal's limestone formations and Laguna de Bay from a high vantage point, straight above the limestone rocks. Masungi's Discovery Trail, which includes various rope courses and picturesque routes spanning rainforests and karst terrain, includes the sapot. </p>
        <!-- Carousell-->
        <div class="car1">
          <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/styles/images/Baras/masungi/masungi1.PNG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/Baras/masungi/masungi3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/Baras/masungi/masungi4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/Baras/masungi/masungi5.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>
          <!--end-->
        </div>
      <div class="num">
        <h3>4. Mt. Kulis </h3>
        <p>Without much trouble, Mt. Kulis provides breathtaking beauty and a sea of clouds. This hiking place is great for beginners and even celebrities and couples use it. You may have seen Noah's Ark, a wooden boat sitting atop a limestone pillar, which is a favorite photo spot. The right angle gives the impression that you're sailing above the mountains, and the sea of clouds adds to the illusion. </p>
        <!-- Carousell-->
        <div class="car1">
          <div id="carouselExampleIndicators3" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/styles/images/kulis1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/kulis2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/kulis3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/kulis4.jpg" class="d-block w-100" alt="...">
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>
          <!--end-->
        </div>
      <div class="num">
        <h3>5. Mt. Tagapo</h3>
        <p>Mt. Tagapo isn't like any other mountain. This mountain, unlike its Tanay neighbors, is situated on an island settlement called Talim in the center of a lake. Talk about odd and intriguing. With that in mind, the journey to this small gem begins with a 20- to 30-minute ride on a passenger boat. It will keep you entertained with a view of various fishing villages until you are ready to disembark at the jump-off point.</p>
        <!-- Carousell-->
        <div class="car1">
          <div id="carouselExampleIndicators4" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/styles/images/tagapo1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/tagapo2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/tagapo3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/styles/images/tagapo4.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>
          <!--end-->
        </div>
    </div>
    <div class="box3"></div>
    </div>
    
  </div>
  <div class="box3"></div>
  </div>
   
  </main>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
</body>
</html>