<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dito sa Rizal</title>
    <!--bootstrap-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
     <!--navbar-->
  <nav>
    <div class="box1"></div>

    <div class="box2">
      <div class="logo">
        <div class="logo1">
          <img src="static/styles/images/logo.png">
        </div>
        <div class="txt"><h3>Dito sa Rizal</h3></div>
      </div>
      <div></div>
      <div class="nav-links">
        <ul>
         <a href="{{url_for('home')}}"><li>Home</li></a>
        <a href="{{url_for('activities')}}"><li>Activities</li></a>
        <a href="{{url_for('destinations')}}"><li>Destinations</li></a>
        <a href="{{url_for('tool')}}"><li class="activeTools">Tools</li></a>
        <a href="{{url_for('contact')}}"><li>Contact</li></a>
        </ul>
      </div>

    </div>
    <div class="box1"></div>
  </nav>
<!--content-->

  <main class="cont">
    <div class="contact">
        <div class="box1"></div>
        <div class="box2">
            <img src="static/styles/images/Pililia/windmill/windmill.jpg">

            <h3>For Inquiries:</h3>
            <p>E-mail: ditosarizalph@gmail.com</p>
            <p>Facebook Page: www.facebook.com/ditosarizal/</p>

        </div>
        <div class="box3"></div>
    </div>
    
  </div>
  <div class="box3"></div>
  </div>
    <!--footer-->
    
  </main>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
</body>
</html>
