<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- This script got from frontendfreecode.com -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<title>Dito sa Rizal</title>
</head>

<body>
<!--navbar-->
  <nav>
    <div class="box1"></div>

    <div class="box2">
      <div class="logo">
        <div class="logo1">
          <img src="static/styles/images/logo.png">
        </div>
        <div class="txt"><h3>Dito sa Rizal</h3></div>
      </div>
      <div></div>
      <div class="nav-links">
        <ul>
          <a href="{{url_for('home')}}"><li>Home</li></a>
        <a href="{{url_for('activities')}}"><li>Activities</li></a>
        <a href="{{url_for('destinations')}}"><li>Destinations</li></a>
        <a href="{{url_for('tool')}}"><li class="activeTools">Tools</li></a>
        <a href="{{url_for('contact')}}"><li>Contact</li></a>
        </ul>
      </div>

    </div>
    <div class="box1"></div>
  </nav>
<!--Content-->
<div class="container" id="page_container">
    <!--searchbar-->
    <div id="accordion_search_bar_container">
        <input type="search" id="accordion_search_bar" placeholder="Search" />
    </div>
    
    <!--Accordion Angono-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
        <h3>Angono</h3>
        <div class="panel" id="angnmuni_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#angnmuni" aria-expanded="true" aria-controls="#angnmuni">
                        Angono Municipal Hall
                    </a>
                </h4>
            </div>
            <div id="angnmuni" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Angono/Municipal/muni.PNG">
                    <p>The Municipal Hall is located in the centre of Angono, the Art Capital of the World, and has a small park in front of it with sculptures visible from the road.</p>
                    <p>Location: Angono, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/AngonoRizalOfficial/" target="_blank">https://www.facebook.com/AngonoRizalOfficial/</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/EtijsZjk4skJwj1eA" target="_blank">https://goo.gl/maps/EtijsZjk4skJwj1eA</a> </p>
                </div>
            </div>
        </div>


        <div class="panel" id="ptr_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#ptr" aria-expanded="true" aria-controls="#ptr">
                        Angono - Binangonan Petroglyphs
                    </a>
                </h4>
            </div>
            <div id="ptr" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Angono/Petroglyphs/Petro1.jpg">
                    <p>The petroglyphs are found between the towns of Angono and Binangonan in Rizal. Visitors were able to tour an area that was thousands of years old, making it a very thrilling and interesting day. The roads leading to and from the property are well-maintained and developed, making for a pleasant driving and transit experience.</p>
                    <p>Location: Angono, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/Angono-Petroglyphs-National-Museum-165723910565870 " target="_blank">https://www.facebook.com/Angono-Petroglyphs-National-Museum-165723910565870</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/NE5E8Hp3B7dzdUTu9" target="_blank">https://goo.gl/maps/NE5E8Hp3B7dzdUTu9</a> </p>
                </div>
            </div>
        </div>
        
        <div class="panel" id="lksd_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#lksd" aria-expanded="true" aria-controls="#lksd">
                        Lakeside Eco-park
                    </a>
                </h4>
            </div>
            <div id="lksd" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Angono/Lakeside/Lakeside1.jpg">
                    <p>The Lakeside Eco-park in Angono is a great place to go for lunch and relax with your friends. Inside, there are numerous food kiosks where you can buy and enjoy while sitting by the lakeside and watching the sunset.</p>
                    <p>Location: Angono, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/angonolakesidecopark" target="_blank">https://www.facebook.com/angonolakesidecopark</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/Cf7inEXJWkpgQEQ77" target="_blank">https://goo.gl/maps/Cf7inEXJWkpgQEQ77</a> </p>
                </div>
            </div>
        </div>

        <div class="panel" id="stclmnt_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#stclmnt" aria-expanded="true" aria-controls="#stclmnt">
                        Diocesan Shrine and Parish of St. Clement
                    </a>
                </h4>
            </div>
            <div id="stclmnt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Angono/stclement/stclement.PNG">
                    <p>Angono's Church is dedicated to Saint Clement of Rome (also known as Pope Clement I). He was the fourth Pope after St. Peter, Linus, and Cletus, and served as the Catholic Pope from 92 to 99. He is regarded the first Apostolic Father of the Church and the first Apostolic Father of the Church (Anacletus). He can be identified in works of art by the anchor at his side. The Anchored Cross, also known as the Mariner's Cross, is also known as St Clement's Cross, after the manner in which he was killed. He was tossed into the water with a Mariner's Cross around his neck.</p>
                    <p>Location: Angono, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/sanclementeangono/">https://www.facebook.com/sanclementeangono/</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/E4EbJzzxgPVaSisB9" target="_blank">https://goo.gl/maps/E4EbJzzxgPVaSisB9</a> </p>
                </div>
            </div>
        </div>

       
    </div>
    <!---->

        <!--Accordion Antipolo-->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
            <h3>Antipolo</h3>

            <div class="panel" id="boso_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#boso" aria-expanded="true" aria-controls="#boso">
                            Boso-boso Church
                        </a>
                    </h4>
                </div>
                <div id="boso" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Antipolo/Bosoboso/Bosoboso_Church.jpg"  >
                        <p>The Nuestra Seora de la Annunciata Parish Church, also known as Bosoboso Church or Boso-Boso Church, is a Roman Catholic parish church in Antipolo City, Rizal, Philippines. It is located in Sitio Old Boso-Boso, Barangay San Jose.</p>
                        <p>Location: Antipolo, Rizal</p>
                        <p>Facebook Page: N/A</p>
                        <p>Google Map: <a href="https://goo.gl/maps/Mk8xzVMY9H2ZYxPu6" target="_blank">https://goo.gl/maps/Mk8xzVMY9H2ZYxPu6</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="cloud9_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#cloud9" aria-expanded="true" aria-controls="#cloud9">
                            Cloud 9
                        </a>
                    </h4>
                </div>
                <div id="cloud9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Antipolo/Cloud9/cloud9.PNG"  >
                        <p>Previously named as Café Nueve, Cloud 9 Restaurant offers delectable and sumptuous dishes all made better with a panoramic view of nature as you dine in. Aside from being famous for its hanging bridge, it is easily accessible from the Metro through a 2-hour drive</p>
                        <p>Location: Antipolo, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/pages/Cloud-9-Resort-Antipolo-Rizal/1451738764888664" target="_blank">https://www.facebook.com/pages/Cloud-9-Resort-Antipolo-Rizal/1451738764888664</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/RKWpgPP2fEWsLNET9" target="_blank">https://goo.gl/maps/RKWpgPP2fEWsLNET9</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="antipolocat_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#antipolocat" aria-expanded="true" aria-controls="#antipolocat">
                            Our Lady of Peace and Good Voyage
                        </a>
                    </h4>
                </div>
                <div id="antipolocat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Antipolo/Antipolo Cathedral/Antipolo Cathedral.jpg">
                        <p>Our Lady of Peace and Good Voyage is a 17th-century Roman Catholic wooden image of the Blessed Virgin Mary worshipped in the Philippines. It is also known as Our Lady of Antipolo and the Virgin of Antipolo. Antipolo Cathedral, in the Sierra Madre highlands east of Metro Manila, houses the Black Madonna. It is well-known in the Catholic tradition of alay lakad.</p>
                        <p>Location: Antipolo, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/pages/Antipolo-Cathedral-Church/1417701015124672" target="_blank">https://www.facebook.com/pages/Antipolo-Cathedral-Church/1417701015124672</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/917sGVekJJ33x54N7" target="_blank">https://goo.gl/maps/917sGVekJJ33x54N7</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="pintoart_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#pintoart" aria-expanded="true" aria-controls="#pintoart">
                            Pintô Art Museum
                        </a>
                    </h4>
                </div>
                <div id="pintoart" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Antipolo/Pintoart/pintoart.jpg">
                        <p>The Pintô Art Museum is the country's gateway to modern and emerging Filipino art. It is a venue for showcasing artists and art forms to the rest of the globe, as well as a portal for everybody to appreciate the healing qualities of art, science, and nature.</p>
                        <p>Location: Antipolo, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/Pinto.Art.Museum.officialpage/" target="_blank">https://www.facebook.com/Pinto.Art.Museum.officialpage/</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/CVK232v483gTXGyL8" target="_blank">https://goo.gl/maps/CVK232v483gTXGyL8</a> </p>
                    </div>
                </div>
            </div>

 
        </div>
        <!---->
    

        <!--Accordion Baras-->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
            <h3>Baras</h3>

            <div class="panel" id="celossian_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#celossian" aria-expanded="true" aria-controls="#celossian">
                            Celossian Flower Farm
                        </a>
                    </h4>
                </div>
                <div id="celossian" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Baras/celossian/Celossian.jpg">
                        <p>Celossian Flower Farm in Baras, Rizal, is a great place to visit for a weekend vacation, to enjoy some fresh air, and to shoot images of vivid flowers. It features rows of celosia blooms, which come in a variety of bright yellow, pink, and orange hues. For only P30, everyone can visit this multicolored wonder. Celossian Flower Farm is a one-hour trip from Pasig City's SM City East Ortigas.</p>
                        <p>Location: Baras, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/celossianflowerfarm" target="_blank">https://www.facebook.com/celossianflowerfarm</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/78scCV7robPuAvdSA" target="_blank">https://goo.gl/maps/78scCV7robPuAvdSA</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="kasarinlan_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#kasarinlan" aria-expanded="true" aria-controls="#kasarinlan">
                            Kasarinlan Park
                        </a>
                    </h4>
                </div>
                <div id="kasarinlan" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Baras/kasarinlan/ksarinlan.jpg">
                        <p>Located on the lakeside of Baras, It is a beautiful area for friends and family bonding where you can relax, have picnics, and engage in other activities such as walking and jogging. There is a little garden maze and a modest playground for you to enjoy with your children.</p>
                        <p>Location: Baras, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/pages/Wawa-Kasarinlan-Park-Baras-Rizal/177910493009559" target="_blank">https://www.facebook.com/pages/Wawa-Kasarinlan-Park-Baras-Rizal/177910493009559</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/KmkNXQYr6y749aRYA" target="_blank">https://goo.gl/maps/KmkNXQYr6y749aRYA</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="mngtl_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#mngtl" aria-expanded="true" aria-controls="#mngtl">
                            Mangantila Cafe and Restaurant
                        </a>
                    </h4>
                </div>
                <div id="mngtl" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Baras/Mangantila/mangantila.PNG">
                        <p>This traditional open-air restaurant, located just off the main highway on the beaches of Laguna Lake, is a quiet place to eat and enjoy the breeze away from the city. If you're lucky enough to obtain a clear view without other people in the backdrop, there's a lovely tree tunnel leading in.</p>
                        <p>Location: Baras, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/mangantilacafe" target="_blank">https://www.facebook.com/mangantilacafe</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/KmkNXQYr6y749aRYA" target="_blank">https://goo.gl/maps/KmkNXQYr6y749aRYA</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="msngi_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#msngi" aria-expanded="true" aria-controls="#msngi">
                            Masungi Georeserve
                        </a>
                    </h4>
                </div>
                <div id="msngi" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Baras/masungi/masungi1.PNG">
                        <p>In the Rizal rainforests, the Masungi Georeserve is a conservation area and a rustic rock garden. Masungi gets its name from the word "masungki," which means "spiked," a fitting description of the expansive limestone terrain found there. Guests will be able to commune with nature and reenergise themselves while doing so in this sanctuary. Explore our paths to see what wildlife and plant species you can find.</p>
                        <p>Location: Baras, Rizal</p>
                        <p>Official website: <a href="https://www.masungigeoreserve.com/" target="_blank">https://www.masungigeoreserve.com/</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/Gri3vz1GZYbpRYMP7" target="_blank">https://goo.gl/maps/Gri3vz1GZYbpRYMP7</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="stjsp_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#stjsp" aria-expanded="true" aria-controls="#stjsp">
                            Diocesan Shrine and Parish of Saint Joseph
                        </a>
                    </h4>
                </div>
                <div id="stjsp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Baras/stjoseph/stjoseph.PNG">
                        <p>The St. Joseph Diocesan Shrine and Parish is a Roman Catholic church in Baras, Rizal, Philippines. The church houses the miraculous centuries-old image of San José de Baras and is the oldest parish dedicated to Saint Joseph on the southern Tagalog mainland.</p>
                        <p>Location: Baras, Rizal</p>
                        <p>Official website: <a href="https://www.facebook.com/sjpbaras/" target="_blank">https://www.facebook.com/sjpbaras/</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/EeUSPpibqYVtrBF27" target="_blank">https://goo.gl/maps/EeUSPpibqYVtrBF27</a> </p>
                    </div>
                </div>
            </div>

            
    
        </div>
        <!---->

        <!--Accordion Binangonan-->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
            <h3>Binangonan</h3>
            <div class="panel" id="kalbaryo_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#kalbaryo" aria-expanded="true" aria-controls="#kalbaryo">
                            Ang Kalbaryo
                        </a>
                    </h4>
                </div>
                <div id="kalbaryo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Binangonan/Ang Kalbaryo/kalbaryo.PNG">
                        <p>The Cross on the Summit is significant not only in terms of religious importance, but also in terms of historical relevance. According to legend, a cross-shaped rock sprouted out of the peak, but lightning and an earthquake destroyed it. In 1873, the people replaced the ancient cross with a wooden cross on the same position. In honor of the Cross, a chapel was built on top of a hill overlooking Laguna. It is a popular destination during the holy week.</p>
                        <p>Location: Binangonan, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/kalbaryobinangonan/" target="_blank">https://www.facebook.com/kalbaryobinangonan/</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/stKLVKtPKX9Jzwiu6" target="_blank">https://goo.gl/maps/stKLVKtPKX9Jzwiu6</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="cfrush_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#cfrush" aria-expanded="true" aria-controls="#cfrush">
                            Coffee Rush
                        </a>
                    </h4>
                </div>
                <div id="cfrush" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Binangonan/coffeerush/coffeerush.jpg">
                        <p>Coffee Rush Eastridge, which is located on top of a hill in Binangonan, Rizal, provides fresh air as well as a stunning view of the Metro Manila cityscape and Laguna Bay. The al fresco dining area at Coffee Rush Eastridge has a rustic feel to it. The area features largely wooden furniture, capiz shell-studded sliding windows, a campfire pit, and even a wooden wagon, all of which are Instagram-worthy.</p>
                        <p>Location: Binangonan, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/coffeerusheastridge" target="_blank">https://www.facebook.com/coffeerusheastridge</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/tadZBuaJnFRpXsFp6" target="_blank">https://goo.gl/maps/tadZBuaJnFRpXsFp6</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="triangle_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#triangle" aria-expanded="true" aria-controls="#triangle">
                            Binangonan Triangular Garden Park and Boundary Landmark
                        </a>
                    </h4>
                </div>
                <div id="triangle" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Binangonan/Triangle/triangle.PNG">
                        <p>The statue of Dr. Jose Rizal in the centre of the triangular park in front of the University of Rizal System in Binangonan is remarkable. The national highway and the town proper are separated by this triangular park.</p>
                        <p>Location: Binangonan, Rizal</p>
                        <p>Facebook Page: N/A</p>
                        <p>Google Map: <a href="https://goo.gl/maps/WUdfjdqg8Zd11vVv7" target="_blank">https://goo.gl/maps/WUdfjdqg8Zd11vVv7</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="marian_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#marian" aria-expanded="true" aria-controls="#marian">
                            Marian Hill
                        </a>
                    </h4>
                </div>
                <div id="marian" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Binangonan/marianhill/marianhill.jpg">
                        <p>Marian Hill is situated on the crest of the San Carlos Heights Subdivision in Binangonan's Barangay Tayuman. A painstakingly constructed place of worship on a one-hectare private property located on top of a hill with a panoramic view of the historic Laguna de Bay and a daily show of a magnificent sunset across the bay. It is open to the public for prayer on weekends and Holy Week, as well as by appointment on weekdays and as needed. The entrance fee is completely free.</p>
                        <p>Location: Binangonan, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/pages/Marian-Hill/1632232546863512" target="_blank">https://www.facebook.com/pages/Marian-Hill/1632232546863512</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/n3uekwAujc2rarzF8" target="_blank">https://goo.gl/maps/n3uekwAujc2rarzF8</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="ursula_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#ursula" aria-expanded="true" aria-controls="#ursula">
                            Sta. Ursula Parish Church
                        </a>
                    </h4>
                </div>
                <div id="ursula" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Binangonan/Sta.Ursula/Sta.Ursula.PNG">
                        <p>It was originally a chapel built by Franciscan missionaries in the late 15th century to gain access to the native towns around the Laguna de Bay. The structure has been preserved and the historical significance has been restored. </p>
                        <p>Location: Binangonan, Rizal</p>
                        <p>Facebook Page: N/A</p>
                        <p>Google Map: <a href="https://goo.gl/maps/UeFuiLc7X1KnbfG46" target="_blank">https://goo.gl/maps/UeFuiLc7X1KnbfG46</a> </p>
                    </div>
                </div>
            </div>

            <div class="panel" id="dino_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#dino" aria-expanded="true" aria-controls="#dino">
                            The Dinosaur Park
                        </a>
                    </h4>
                </div>
                <div id="dino" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/Angono/Dinasaur Park/dino.jpg">
                        <p>The dinosaur park, located on the outskirts of Binangonan, is a roadside restaurant with two large dinosaur statues. The significance of this area as one of the symbols that will provide awareness to the Angono-Binangonan boundary was recognized by commuters and motorists.</p>
                        <p>Location: Binangonan, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/thedinosaurparkPH" target="_blank">https://www.facebook.com/thedinosaurparkPH</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/1Hv29e1K6RtUzfhB9" target="_blank">https://goo.gl/maps/1Hv29e1K6RtUzfhB9</a> </p>
                    </div>
                </div>
            </div>
    
        

        <!--Accordion Cainta-->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
            <h3>Cainta</h3>
            <div class="panel" id="oll_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#oll" aria-expanded="true" aria-controls="#oll">
                            Diocesan Shrine and Parish of Our Lady of Light
                        </a>
                    </h4>
                </div>
                <div id="oll" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/cainta/ourladyoflight.PNG">
                        <p>The Diocesan Shrine and Parish of Our Lady of Light, also known as Cainta Church, is a Roman Catholic parish church in Barangay San Andres, Cainta, Rizal, Philippines, located along Andres Bonifacio Avenue. Cainta Catholic College, a neighboring school, is also run by the church.</p>
                        <p>Location: Cainta, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/olightcainta/" target="_blank">https://www.facebook.com/olightcainta/</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/pyFFMmzmRFHKZQ6RA" target="_blank">https://goo.gl/maps/pyFFMmzmRFHKZQ6RA</a> </p>
                    </div>
                </div>
            </div>

        </div>
        <!---->

        <!--Accordion Cardona-->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
            <h3>Cardona</h3>
            <div class="panel" id="mhr_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#mhr" aria-expanded="true" aria-controls="#mhr">
                            Diocesan Shrine and Parish of Our Lady of the Most Holy Rosary
                        </a>
                    </h4>
                </div>
                <div id="mhr" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/cardona/holyrosary/ohr.PNG">
                        <p>Our Lady of the Holy Rosary parish in Cardona was created in 1872 by Franciscan missionaries who had been stationed in Morong since the 16th century and had erected mission sites along the shores of Laguna de Bay, which eventually grew into two parishes. When Cardona was still a sitio of Morong, there was claimed to be an image of Our Lady of the Holy Rosary preserved in the main church that would suddenly vanish at times. The statue would miraculously return to the church each time, and the church's keepers would invariably discover amorseco, a grass weed that grows abundantly in the Sapao area. They come to the conclusion that the Blessed Mother herself chose the location for her image to be placed.</p>
                        <p>Location: Cardona, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/DSPOLHR.CardonaRizal" target="_blank">https://www.facebook.com/DSPOLHR.CardonaRizal</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/ogj8ScJ3rYqtvUdN7" target="_blank">https://goo.gl/maps/ogj8ScJ3rYqtvUdN7</a> </p>
                    </div>
                </div>
            </div>

        </div>
        <!---->

         <!--Accordion Morong-->
         <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
            <h3>Morong</h3>
            <div class="panel" id="jrm_container">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#jrm" aria-expanded="true" aria-controls="#jrm">
                            St. Jerome Parish Church
                        </a>
                    </h4>
                </div>
                <div id="jrm" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <img src="static/styles/images/morong/stjerome/stjerome.PNG">
                        <p>Morong Church (also known as St. Jerome Parish Church) is a Roman Catholic church in Morong, Rizal, Philippines. It was made with stones from a hill named Kay Ngaya, lime from the stones of the mountain Kay Maputi, and sand and gravel from the Morong River during the Spanish period in the nation.</p>
                        <p>Location: Morong, Rizal</p>
                        <p>Facebook Page: <a href="https://www.facebook.com/pages/St-Jerome-Parish-Church/1500233903522364" target="_blank">https://www.facebook.com/pages/St-Jerome-Parish-Church/1500233903522364</a></p>
                        <p>Google Map: <a href="https://goo.gl/maps/eoFTrhLwQpLNaWEC6" target="_blank">https://goo.gl/maps/eoFTrhLwQpLNaWEC6</a> </p>
                    </div>
                </div>
            </div>

        </div>
        <!---->

        <!--Accordion Pililia-->
     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
        <h3>Pililia</h3>
        <div class="panel" id="wind_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#wind" href="#wind" aria-expanded="true" aria-controls="#wind">
                        Pililia Windmill Farm View Deck
                    </a>
                </h4>
            </div>
            <div id="wind" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Pililia/windmill/windmill.jpg">
                    <p>The Rizal Wind Farm, which is located in the small barrio of Halayhayin in Pililla, is the newest addition to the growing list of tourism sites within close vicinity of the capital, which is only two hours away. Pililla is a perfect location for a wind farm, according to Alternergy Wind One Corp, which oversees the farm's operations. It is part of a natural wind corridor generated by the unique physical features surrounding the lake. For those driving in their own vehicles, this is an ideal layover. There is no entrance fee, and the location is ideal for a photo session.</p>
                    <p>Location: Pililia, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/pililiawindmills/" target="_blank">https://www.facebook.com/pililiawindmills/</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/LXZa2KuKzVpzyu9u6" target="_blank">https://goo.gl/maps/LXZa2KuKzVpzyu9u6</a> </p>
                </div>
            </div>
        </div>

        <div class="panel" id="bulawan_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#bulawan" aria-expanded="true" aria-controls="#bulawan">
                        Bulawan Floating Restaurant
                    </a>
                </h4>
            </div>
            <div id="bulawan" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Pililia/Bulawan/bulawan.PNG">
                    <p>Many devotees and tourists visit Regina Rica in Sampaloc Tanay to pause and think in silence. Silent prayer is encouraged and practiced by the Regina Rica nuns. They also have a number of projects, such as Mary's One Million, where they pray every day for the healing of one's family tree.</p>
                    <p>Location: Pililia, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/BulawanRestaurant/" taget="_blank">https://www.facebook.com/BulawanRestaurant/</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/FGumUfRyEBc3baeXA" target="_blank">https://goo.gl/maps/FGumUfRyEBc3baeXA</a> </p>
                </div>
            </div>
        </div>

        <div class="panel" id="mgdln_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#mgdln" aria-expanded="true" aria-controls="#mgdln">
                        Diocesan Shrine and Parish of St. Mary Magdalene 
                    </a>
                </h4>
            </div>
            <div id="mgdln" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Pililia/magda/stmarymagdalene.PNG">
                    <p>Many devotees and tourists visit Regina Rica in Sampaloc Tanay to pause and think in silence. Silent prayer is encouraged and practiced by the Regina Rica nuns. They also have a number of projects, such as Mary's One Million, where they pray every day for the healing of one's family tree.</p>
                    <p>Location: Pililia, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/smmppililla/" taget="_blank">https://www.facebook.com/smmppililla/</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/swZdCFfByzeinjZSA" target="_blank">https://goo.gl/maps/swZdCFfByzeinjZSA</a> </p>
                </div>
            </div>
        </div>


    <!---->
       
            <!--Accordion Rodriguez-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
        <h3>Rodriguez</h3>
        <div class="panel" id="wawadam_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#wawadam" aria-expanded="true" aria-controls="#wawadam">
                        Wawa Dam
                    </a>
                </h4>
            </div>
            <div id="wawadam" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Rodriguez/wawadam.jpg">
                    <p>The Wawa Dam is a gravity dam that spans the Marikina River in Rodriguez, Rizal Province, Philippines. The dam sits in the 360-meter-high Montalban Gorge or Wawa Gorge, a river gap in the Sierra Madre Mountains east of Manila.</p>
                    <p>Location: Rodriguez, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/tathaiwawa/" taget="_blank">https://www.facebook.com/tathaiwawa/</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/zG5F9Huzt3i2KTQX6" target="_blank">https://goo.gl/maps/zG5F9Huzt3i2KTQX6</a> </p>
                </div>
            </div>
        </div>

        <div class="panel" id="olmhl_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#olmhl" aria-expanded="true" aria-controls="#olmhl">
                        Our Lady of the Most Holy Rosary
                    </a>
                </h4>
            </div>
            <div id="olmhl" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Rodriguez/Ourladyofthemostholyrosary/olmhl.PNG">
                    <p>Montalban was previously merely a neighborhood of San Mateo, but after the war, it became an independent municipality. The Parish of Our Lady of the Most Holy Rosary is located at J.P. Fr. Balite Montalban created Rizal St. Balite Montalban in 1871. Eustaquio, a Pasig native known as "Padre Quako" at the time. Until recently, the parish of Montalban was administered by twelve pastors during a period of nearly 140 years.</p>
                    <p>Location: Rodriguez, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/OLMHRPMontalban" taget="_blank">https://www.facebook.com/OLMHRPMontalban</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/4WPpyZZ3UgsD9bri8" target="_blank">https://goo.gl/maps/4WPpyZZ3UgsD9bri8</a> </p>
                </div>
            </div>
        </div>

    </div>
    <!---->

    <!--Accordion San Mateo-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
        <h3>San Mateo</h3>
        <div class="panel" id="aran_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#aran" aria-expanded="true" aria-controls="#aran">
                        Diocesan Shrine Of Our Lady Of Aranzazu
                    </a>
                </h4>
            </div>
            <div id="aran" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/sanmateo/aranzazu/aranz.PNG">
                    <p>The image of the Blessed Virgin Mary worshiped in San Mateo, Rizal, Philippines is known as Our Lady of Aránzazu (Nuestra Seora de Aránzazu). The artwork has become well-known as a result of reports of miraculous healing and flood protection. Despite the fact that its original picture in Oati, Spain was seated, it maintained its standing pose. On May 31, 2017, Pope Francis gave the image a Canonical coronation.</p>
                    <p>Location: San Mateo, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/pages/Our-Lady-of-Aranzazu-Parish/361400247930715" taget="_blank">https://www.facebook.com/pages/Our-Lady-of-Aranzazu-Parish/361400247930715</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/UtE6oLVtNyeAUVEv7" target="_blank">https://goo.gl/maps/UtE6oLVtNyeAUVEv7</a> </p>
                </div>
            </div>
        </div>

    </div>
    <!---->



    <!--Accordion Tanay-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
        <h3>Tanay</h3>
        <div class="panel" id="rambulls_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#rambulls" aria-expanded="true" aria-controls="#rambulls">
                        Rambulls - Bakahan sa Tanay
                    </a>
                </h4>
            </div>
            <div id="rambulls" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Tanay/rambulls/rambulls.PNG">
                    <p>The establishment resembles a saloon straight out of a Western Cowboy film. From the outside, you'd know you're in for a treat with its swinging doors and continuous display of cow skulls. Plus, with so many cars parked outside, it's difficult not to be lured to it. That in and of itself is a sign of good food.</p>
                    <p>Location: Tanay, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/pages/Rambulls-Bakahan-Sa-Tanay/301396260018017" taget="_blank">https://www.facebook.com/pages/Rambulls-Bakahan-Sa-Tanay/301396260018017</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/XYZsgtx4sGkaQWK27" target="_blank">https://goo.gl/maps/XYZsgtx4sGkaQWK27</a> </p>
                </div>
            </div>
        </div>

        <div class="panel" id="regina_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#regina" aria-expanded="true" aria-controls="#regina">
                        Regina Rica
                    </a>
                </h4>
            </div>
            <div id="regina" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Tanay/ReginaRica/ReginaRica.jpg">
                    <p>Many devotees and tourists visit Regina Rica in Sampaloc Tanay to pause and think in silence. Silent prayer is encouraged and practiced by the Regina Rica nuns. They also have a number of projects, such as Mary's One Million, where they pray every day for the healing of one's family tree.</p>
                    <p>Location: Tanay, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/reginaricaofficial/" taget="_blank">https://www.facebook.com/reginaricaofficial/</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/vWCmpmFND3Xi99pe6" target="_blank">https://goo.gl/maps/vWCmpmFND3Xi99pe6</a> </p>
                </div>
            </div>
        </div>

        <div class="panel" id="ild_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#ild" aria-expanded="true" aria-controls="#ild">
                        San Ildefonso de Toledo Parish
                    </a>
                </h4>
            </div>
            <div id="ild" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Tanay/sanildefonso/sanildi.PNG">
                    <p>The Tanay Church, also known as Saint Ildefonsus of Toledo Parish Church (Spanish: Iglesia Parroquial de San Ildefonso de Toledo), is a Roman Catholic church in Tanay, Rizal Province, Philippines. The current church was started in 1773 and finished in 1783 after a ten-year construction period. The National Commission for Culture and the Arts designated it as a National Cultural Treasure Church in 2001. It is also one of the Diocese of Antipolo's seven Jubilee churches.</p>
                    <p>Location: Tanay, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/SIDTPTanay" taget="_blank">https://www.facebook.com/SIDTPTanay</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/qeySNKcrjijwmKRy9" target="_blank">https://goo.gl/maps/qeySNKcrjijwmKRy9</a> </p>
                </div>
            </div>
        </div>

        <div class="panel" id="tlh_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#tlh" aria-expanded="true" aria-controls="#tlh">
                        Tanay Lighthouse
                    </a>
                </h4>
            </div>
            <div id="tlh" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Tanay/lighthouse/tanaylighthouse.PNG">
                    <p>The beacon, which is located on the lakefront of Barangay San Isidro, was previously used to direct fisherman during moonless evenings. However, in 2012, it ceased operations and was reborn as a tourist attraction. According to the Municipal Tourism Office, around 100 tourists visit the site throughout the weekend. The fact that there are no entrance fees makes the location more welcoming than other traditional tourist destinations.</p>
                    <p>Location: Tanay, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/TanayParola/" taget="_blank">https://www.facebook.com/TanayParola/</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/ydLc4odSPK2cYABc8" target="_blank">https://goo.gl/maps/ydLc4odSPK2cYABc8</a> </p>
                </div>
            </div>
        </div>

    </div>
    <!---->

     

    <!--Accordion Taytay-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
        <h3>Taytay</h3>
        <div class="panel" id="stjn_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#stjn" aria-expanded="true" aria-controls="#stjn">
                        St. John the Baptist Church
                    </a>
                </h4>
            </div>
            <div id="stjn" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/taytay/stjohn/stjohn.PNG">
                    <p>Saint John the Baptist Parish is in Taytay, Rizal's Barangay San Isidro. It is the Diocese of Antipolo's second oldest parish, having been founded in 1579. It was built in 1579 by Franciscan missionaries in Laguna Bay, originally from of light materials. Pedro Calungsod, a young child, was placed as an altar boy in the church by the Jesuits in 1666. During San Vitores' duty in Taytay, Calungsod would eventually become his assistant.</p>
                    <p>Location: Taytay, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/St-John-the-Baptist-Parish-Taytay-Rizal-207328822781767/" taget="_blank">https://www.facebook.com/St-John-the-Baptist-Parish-Taytay-Rizal-207328822781767/</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/eijexT5PHuU4rpZg6" target="_blank">https://goo.gl/maps/eijexT5PHuU4rpZg6</a> </p>
                </div>
            </div>
        </div>
        
    <!---->

    <!--Accordion Teresa-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
        <h3>Teresa</h3>
        <div class="panel" id="srlima_container">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#srlima" aria-expanded="true" aria-controls="#srlima">
                        Saint Rose of Lima
                    </a>
                </h4>
            </div>
            <div id="srlima" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <img src="static/styles/images/Teresa/strose/stroselima.PNG">
                    <p>The parish of St. Rose of Lima is located in the Teresa Valley, historically known as Oroquieta, and was previously part of the Morong municipality before being annexed to Antipolo. The town's name was eventually changed to Sta from Oroquieta. Rosa as a tribute to the Patroness. For the third time in his life, Sta. Rosa was finally transferred to Teresa's authority in honor of Don Mariano Rodriquez Candelaria, a Spanish lawyer who fought for the town's independence. In 1903, a chapel in the camalig style was built to honor Sta Rosa.</p>
                    <p>Location: Teresa, Rizal</p>
                    <p>Facebook Page: <a href="https://www.facebook.com/pages/St-Rose-de-Lima-Parish-Teresa-Rizal/204205906746735" taget="_blank">https://www.facebook.com/pages/St-Rose-de-Lima-Parish-Teresa-Rizal/204205906746735</a></p>
                    <p>Google Map: <a href="https://goo.gl/maps/AcaST6KvYQhq7wV1A" target="_blank">https://goo.gl/maps/AcaST6KvYQhq7wV1A</a> </p>
                </div>
            </div>
        </div>
        
    <!---->

</div>
<script>
(function () {
    var searchTerm, panelContainerId;

    $.expr[":"].containsCaseInsensitive = function (n, i, m) {
        return jQuery(n).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
    };
    $("#accordion_search_bar").on("change keyup paste click", function () {
        searchTerm = $(this).val();
        $("#accordion > .panel").each(function () {
            panelContainerId = "#" + $(this).attr("id");
            $(panelContainerId + ":not(:containsCaseInsensitive(" + searchTerm + "))").hide();
            $(panelContainerId + ":containsCaseInsensitive(" + searchTerm + ")").show();
        });
    });
})();
</script>

</body>
</html>